.footer-container {
  border-radius: 8px;
  grid-row: 3;
  background-color: #1a2b6a;
  display: grid;
  grid-template-columns: 15px repeat(8, 10em);
  grid-template-rows: 100%;
  grid-gap: 8px;
}

.conn-info {
  grid-column: 2;
}

.socket {
  color: green;
  grid-column: 3;
}

.peer {
  color: red;
  grid-column: 4;
}
