.container {
    height: 100vh; /* Magic here */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .login-text {
      color: #f09935;
  }

  .login-input {
    background-color: #29648e;
    color: black;
  }
 

  .login-text-info{
    color: white;
  }

  .errormsg {
    color: red;
  }

  .acc-info {
    cursor: pointer;
    color: brown;
    font-weight: 500;
  }

  p {
    color:white;
  }