* {
  font-family: "Cairo", sans-serif;
}

body {
  background-color: #080d20;
  margin: 0px;
}

::-webkit-scrollbar {
  height: 14px;
  width: 10px;
  background: #152355;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #0c1532;
  -webkit-border-radius: 1ex;
}
